.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.description {
    font-size: 14px;
}
.ml-23 {
    margin-left: 23px;
}
.pt-10 {
    padding-top: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.icon-color {
    color: #6a737d
}
